os:
- linux
language: generic
sudo: required
dist: trusty
install:
- eval "$(curl -s https://raw.githubusercontent.com/mominul/swiftup/master/install.sh)"
- swiftup install default
script:
- make package
